<div class="sc2-about-me">
    <div class="left">
      <img
        class="image"
        src="assets/img/ozan.png"
        alt="Image of Author"
      />
    </div>
    <div id="about-me" class="align-right">
      <h3>{{ "who" | translate }}</h3>
      <div class="right">
        <h2>{{ "link1" | translate }}</h2>
  
        <p> 
          {{ "p1" | translate }}
        </p>
        <div>
          <img src="assets/icons/location.png" alt="little icon for location" />
          <p>
            {{ "p2" | translate }}  
          </p>
        </div>
        <div>
          <img src="assets/icons/cognition.png" alt="little icon for cognition" />
          <p>
            {{ "p3" | translate }}  
          </p>
        </div>
        <div>
          <img src="assets/icons/new-releases.png" alt="little icon for new_releases" />
          <p>
            {{ "p4" | translate }}  
          </p>
        </div>
      </div>
    </div>
  </div>