@import "../../../../styles.scss";

.single-project-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  @include dFlex();
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1100;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .content {
    background-image: linear-gradient(to top right, black, rgb(15, 83, 72));
    box-shadow: 0px 0px 30px 10px $main-color2; 
    padding: 4%;
    border-radius: 40px;
    border: 1px solid $main-color2;
    @include dFlex($jc: space-between);
    width: 80%;
    height: 70%;
    max-width: 1820px;
    max-height: 1080px;
    position: relative;
  }
  
}

.left {
  width: 50%;
  height: 100%;
  @include dFlex($jc: space-between, $ai: flex-start);
  flex-direction: column;
  .index {
    color: $main-color2;
    font-size: larger;
  }
  > p {
    max-width: 580px;
  }
}

.right {
  width: 50%;
  height: 100%;
  @include dFlex($jc: space-between, $ai: flex-end);
  flex-direction: column;
  > button {
    color: $main-color2;
    font-family: "Karla";
    font-size: 1.2rem;
    @include dFlex($g: 4px);
    img {
      transition: transform 0.3s ease;
    }
    &:hover img {
      transform: translateX(5px);
    }
    &:hover {
      color: white;
    }
  }
}

.close-btn-wrapper {
  display: inline-block;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);

    .closeBtn .icon-path {
      fill: #3dcfb6;
    }
  }
}

.closeBtn {
  cursor: pointer;

  .icon-path {
    transition: fill 0.3s ease, transform 0.3s ease;
    fill: white;
  }
}

.project-img {
  width: 90%;
  border-radius: 20px;

}

.custom-svg .icon-path {
  fill: #3dcfb6;
}

.first {
  display: flex;
  flex-direction: column;
  .index {
    font-family: "Karla";
    font-size: clamp(3.5rem, 8vw, 9rem);
    font-weight: 700;
  }
  .name {
    font-size: clamp(1.7rem, 4vw, 4rem);
    font-weight: 700;
    word-spacing: -12px;
  }
}

.second {
  .headline {
    color: $main-color2;
    font-size: clamp(1.3rem, 2vw, 2rem);
    font-weight: 700;
    word-spacing: -8px;
  }
  > p {
    font-family: "Karla";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    hyphens: auto;
    min-height: 70px;
  }
  > div {
    display: flex;
    align-items: center;
    gap: 6px;
    > img {
      width: 24px;
      height: 24px;
      filter: brightness(0) saturate(100%) invert(76%) sepia(20%)
        saturate(1108%) hue-rotate(118deg) brightness(86%) contrast(103%);
    }
    > span {
      margin-right: 8px;
    }
  }
}

.third {
  margin-top: 8px;
  display: flex;
  gap: 10%;
  > a {
    @include dFlex($g: 4px);
    height: 48px;
    width: max-content;
    white-space: nowrap;
    word-spacing: -6px;
    border-radius: 100px;
    border: 1px solid $main-color;
    padding: 16px;
    svg {
      transition: transform 0.3s ease;
    }
    &:hover {
      color: $main-color2;
      border-color: $main-color2;

      svg {
        transform: translate(3px, -3px);
      }
    }
  }
}
@media (min-width: 800px) and (max-height: 900px) {
  .content {
    width: 95%;
    height: 90%;
  }
.index{
  display: none;
}
  .left, .right {
    width: 48%;
  }

  .project-img {
    margin-top: 12px;
  }

  .close-btn-wrapper {
    position: absolute;
    top: 10px;
    right: 30px;
  }
}
@media (max-width: 860px) {
  .content {
    height: 90% !important;
    width: 90% !important;
    flex-direction: column-reverse;
    justify-content: flex-end !important;
  }
  .left {
    width: 100%;
    height: 50%;
  }
  .right {
    width: 100%;
    height: fit-content;
    align-items: center;
    > img {
      margin-top: 40px;
      max-width: 100%;
    }
    > button {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
  .close-btn-wrapper {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

@media (max-width: 520px) {
  .content {
    height: 100% !important;
    width: 100% !important;
  }
  .second {
    > p {
      margin: 4px 0;
    }
    > div {
      display: grid;
      grid-template-columns: 24px auto 24px auto;
  
      > img {
        width: 24px;
        max-width: 20px;
        height: 24px;
      }
      > span {
        margin-right: 4px;
      }
    }
  }
}
@media (max-height: 500px) {
  .content {
    height: 95% !important;
    width: 95% !important;
    padding: 2% !important;
  }
  .right {
    > img {
      margin-top: 0;
    }
    > button {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
  .project-img {
    width: 30%;
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .close-btn-wrapper {
    position: absolute;
    top: 12px;
    right: 33%;
  }
}

@media (max-height: 350px) {
  .content {
    height: 100% !important;
    width: 100% !important;
    padding: 4px;
  }
  .second{
    >p{
      margin: 4px 0;
    }
  }

}