@import "../../../styles.scss";

.sc1-hero {
  position: relative;
  top: 0;
  width: $main-width;
  background-size: cover;
  background-position: center;
  background-image: url('../../../assets/img/bg1.png');
}
.hero {
  height: calc(100vh - 100px);
  @include dFlex($jc: space-between, $ai: flex-end);
  padding: $main-padding;
}
.center {
  @include dFlex();
  flex-direction: column;
  position: relative;
  bottom: 50%;
  > span {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
  }
  > h1 {
    font-size: clamp(4.5rem, 8vw, 8rem);
    margin: 3% 0;
    animation: fadeIn 2s ease-in-out, slideUp 1.5s ease-in-out;
    display: inline-block;
    transition: transform 0.5s ease-in-out, color 0.3s ease-in-out;
    position: relative;
  }
  > h1:hover {
    transform: rotateX(360deg) scale(1.1);
    color: $main-color2;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  }
  .button-div {
    @include dFlex($g: 40px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.left {
  .line {
    width: 1px;
    height: 220px;
    background-color: $main-color2;
    position: relative;
    left: 50%;
    margin-top: 100%;
  }
  .arrow-container {
    width: 25px;
    height: 40px;
    border: 1px solid cyan;
    border-radius: 50px;
    @include dFlex();
    position: relative;
    > button {
      width: 100%;
      height: 100%;
      > img {
        width: 70%;
        height: auto;
        position: relative;
        animation: moveArrow 1.5s ease-in infinite;
      }
    }
  }

  @keyframes moveArrow {
    0%,
    100% {
      transform: translateY(-4px);
    }
    50% {
      transform: translateY(12px);
    }
  }
}
.right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include linkDot(
    $positionX: 36px,
    $positionY: 50%,
    $hover-color: $main-color2
  );
  > a {
    > img {
      width: 20px;
      height: auto;
      &:hover {
        filter: brightness(0) saturate(100%) invert(100%);
      }
    }
  }

  .align-mail {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(-180deg);
    margin-left: 16%;
    margin-bottom: 16px;
    &:hover {
      color: $main-color2;
    }
  }

  .line {
    width: 1px;
    height: 190px;
    background-color: $main-color;
    position: relative;
    left: 50%;
    margin-top: 40%;
  }
}

@media (max-width: 800px) {
  .hero {
    padding: 0 2%;

    .right {
      @include linkDot(
        $positionX: -12px,
        $positionY: 50%,
        $hover-color: $main-color2
      );
      .align-mail {
        display: none;
      }

      a:first-of-type {
        display: block;
      }
    }
  }
  .center {
    > h1 {
      word-break: normal;
      text-align: center;
    }
  }
}
@media (max-width: 620px) {
  .center {
    width: min-content;
  }
}

@media (max-width: 480px) {
  .center {
    > h1 {
      font-size: 4rem;
    }
    .button-div {
      gap: 15px;
    }
    span {
      white-space: nowrap;
    }
  }
}

@media (max-width: 440px) {
  .center {
    > span {
      font-size: 1rem;
    }
    > h1 {
      margin-top: 0;
      font-size: 3rem;
    }
    .button-div {
      gap: 10px;
    }
  }
}

@media (max-width: 360px) {
  .hero {
    @include dFlex($jc: center, $ai: flex-end);
  }
  .left {
    position: absolute;
    left: 2px;
  }
  .right {
    position: absolute;
    right: 2px;
  }
}

@media (max-height: 800px) {
  .hero {
    height: auto;
    min-height: calc(100vh - 100px);
  }
  .center {
    margin-bottom: 250px;
  }
}
