@import "../styles.scss";

.align-main-content {
  background-image: linear-gradient(
    to top right,
    #1A2120 50%,
    rgb(15, 83, 72) 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
}
.align-footer-header {
  position: relative;
  width: $main-width;
  max-width: $main-max-width;
  @include dFlex($ai: none);
  flex-direction: column;
  box-sizing: border-box;
}

.header-align {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

body {
  background-image: linear-gradient(to top right, #1A2120, rgb(15, 83, 72));
}
