<div class="content">
    <h1>{{ "policy-1" | translate }}</h1>
  
    <h2>{{ "policy-2" | translate }}</h2>
  
    <h3>{{ "policy-3" | translate }}</h3>
    <p>
      {{ "policy-4" | translate }}
    </p>
  
    <h3>{{ "policy-5" | translate }}</h3>
  
    <h4>{{ "policy-6" | translate }}</h4>
    <p>
      {{ "policy-7" | translate }}
    </p>
  
    <h4>{{ "policy-8" | translate }}</h4>
    <p>
      {{ "policy-9" | translate }}
    </p>
    <p>
      {{ "policy-10" | translate }}
    </p>
  
    <h4>{{ "policy-11" | translate }}</h4>
    <p>
      {{ "policy-12" | translate }}
    </p>
  
    <h4>{{ "policy-13" | translate }}</h4>
    <p>
      {{ "policy-14" | translate }}
    </p>
  
    <h2>2. Hosting</h2>
    <p>{{ "policy-15" | translate }}</p>
  
    <h4>All-Inkl</h4>
    <p>
      {{ "policy-16" | translate }}
      <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
        >https://all-inkl.com/datenschutzinformationen/</a
      >.
    </p>
  
    <p>
      {{ "policy-17" | translate }}
    </p>
  
    <h4>{{ "policy-18" | translate }}</h4>
    <p>
      {{ "policy-19" | translate }}
    </p>
  
    <h2>{{ "policy-20" | translate }}</h2>
  
    <h4>{{ "policy-21" | translate }}</h4>
    <p>
      {{ "policy-22" | translate }}
    </p>
  
    <p>
      {{ "policy-23" | translate }}
    </p>
  
    <p>
      {{ "policy-24" | translate }}
    </p>
  
    <h4>{{ "policy-25" | translate }}</h4>
    <p>
      {{ "policy-26" | translate }}
    </p>
  
    <address>
      Ozan Orhan<br />
     Wettinerweg 9<br />
      30179 Hannover<br />
      {{ "policy-27" | translate }} +49 173 4250378<br />
      E-Mail:
      <a href="mailto:mail@sebastian-rothe.com">contact&#64;ozan-orhan.com</a
      ><br />
    </address>
  
    <p>
      {{ "policy-28" | translate }}
    </p>
  
    <h4>{{ "policy-29" | translate }}</h4>
    <p>
      {{ "policy-30" | translate }}
    </p>
    <h4>
      {{ "policy-31" | translate }}
    </h4>
    <p>
      {{ "policy-32" | translate }}
    </p>
    <h4>{{ "policy-33" | translate }}</h4>
    <p>
      {{ "policy-34" | translate }}
    </p>
    <h4>{{ "policy-35" | translate }}</h4>
    <p>
      {{ "policy-36" | translate }}
    </p>
    <h4>
      {{ "policy-37" | translate }}
    </h4>
    <p>
      {{ "policy-38" | translate }}
    </p>
    <h4>{{ "policy-39" | translate }}</h4>
    <p>
      {{ "policy-40" | translate }}
    </p>
  
    <h4>{{ "policy-41" | translate }}</h4>
    <p>
      {{ "policy-42" | translate }}
    </p>
  
    <h4>{{ "policy-43" | translate }}</h4>
    <p>
      {{ "policy-44" | translate }}
    </p>
  
    <h4>{{ "policy-45" | translate }}</h4>
    <p>
      {{ "policy-46" | translate }}
    </p>
  
    <ul>
      <li>
          {{ "policy-47" | translate }}
      </li>
      <li>
          {{ "policy-48" | translate }}
      </li>
      <li>
          {{ "policy-49" | translate }}
      </li>
      <li>
          {{ "policy-50" | translate }}
      </li>
    </ul>
  
    <p>
      {{ "policy-51" | translate }}
    </p>
    <h4>{{ "policy-52" | translate }}</h4>
    <p>
      {{ "policy-53" | translate }}
    </p>
    <h4>{{ "policy-54" | translate }}</h4>
    <p>
      {{ "policy-55" | translate }}
    </p>
    <h2>{{ "policy-56" | translate }}</h2>
    <h4>{{ "policy-57" | translate }}</h4>
    <p>
      {{ "policy-58" | translate }}
    </p>
    <h4>{{ "policy-59" | translate }}</h4>
    <p>
      {{ "policy-60" | translate }}
    </p>
    <p>{{ "policy-61" | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
  </div>
  