@import "../../styles.scss";
div{
  font-size: 1.4rem;
    height: 78vh;
    width: 100%;
    max-width: $main-max-width;
    text-align: center;
}
h3{
    padding-top: 20%;
    font-size: 3rem;
}
a {
  color: $main-color2;
}